In [1]:
import pandas as pd
import numpy as np
import csv
movies=pd.read_csv("tmdb_5000_movies.csv")

In [87]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[Action, Adventure, Fantasy, Science Fiction]",http://www.avatarmovie.com/,19995,"[culture clash, future, space war, space colon...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron]
1,300000000,"[Adventure, Fantasy, Action]",http://disney.go.com/disneypictures/pirates/,285,"[ocean, drug abuse, exotic island, east india ...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,285,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[Gore Verbinski]
2,245000000,"[Action, Adventure, Crime]",http://www.sonypictures.com/movies/spectre/,206647,"[spy, based on novel, secret agent, sequel, mi...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,206647,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[Sam Mendes]
3,250000000,"[Action, Crime, Drama, Thriller]",http://www.thedarkknightrises.com/,49026,"[dc comics, crime fighter, terrorist, secret i...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,49026,"[ChristianBale, MichaelCaine, GaryOldman]",[Christopher Nolan]
4,260000000,"[Action, Adventure, Science Fiction]",http://movies.disney.com/john-carter,49529,"[based on novel, mars, medallion, space travel...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,49529,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[Andrew Stanton]

In [88]:
movies["keywords"][0]

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d']

In [89]:
movies["tagline"][0]

'Enter the World of Pandora.'

In [90]:
movies["overview"][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [94]:
df2=pd.read_csv("tmdb_5000_credits.csv")
df2.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [95]:
df2["cast"]

0       [{"cast_id": 242, "character": "Jake Sully", "...
1       [{"cast_id": 4, "character": "Captain Jack Spa...
2       [{"cast_id": 1, "character": "James Bond", "cr...
3       [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4       [{"cast_id": 5, "character": "John Carter", "c...
                              ...
4798    [{"cast_id": 1, "character": "El Mariachi", "c...
4799    [{"cast_id": 1, "character": "Buzzy", "credit_...
4800    [{"cast_id": 8, "character": "Oliver O\u2019To...
4801    [{"cast_id": 3, "character": "Sam", "credit_id...
4802    [{"cast_id": 3, "character": "Herself", "credi...
Name: cast, Length: 4803, dtype: object

In [96]:
movies=movies.merge(df2,on="title")
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4845 entries, 0 to 4844
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4845 non-null   int64
 1   genres                4845 non-null   object
 2   homepage              1719 non-null   object
 3   id                    4845 non-null   int64
 4   keywords              4845 non-null   object
 5   original_language     4845 non-null   object
 6   original_title        4845 non-null   object
 7   overview              4842 non-null   object
 8   popularity            4845 non-null   float64
 9   production_companies  4845 non-null   object
 10  production_countries  4845 non-null   object
 11  release_date          4844 non-null   object
 12  revenue               4845 non-null   int64
 13  runtime               4843 non-null   float64
 14  spoken_languages      4845 non-null   object
 15  status                4845 non-null   object
 16  tagline               4001 non-null   object
 17  title                 4845 non-null   object
 18  vote_average          4845 non-null   float64
 19  vote_count            4845 non-null   int64
 20  movie_id_x            4845 non-null   int64
 21  cast_x                4845 non-null   object
 22  crew_x                4845 non-null   object
 23  movie_id_y            4845 non-null   int64
 24  cast_y                4845 non-null   object
 25  crew_y                4845 non-null   object
 26  movie_id              4845 non-null   int64
 27  cast                  4845 non-null   object
 28  crew                  4845 non-null   object
dtypes: float64(3), int64(7), object(19)
memory usage: 1.1+ MB

In [ ]:
import ast
def str_list(x):
  x=ast.literal_eval(x)
  l=[]
  for item in x:

    l.append(item['name'])
  
  return l
movies["cast"]=movies["cast"].apply(str_list)

In [98]:
import ast
def str2_list(x):
  x=ast.literal_eval(x)
  l=[]
  for item in x:
    if item['job']=="Director":
      l.append(item['name'])
  
  return l
     

movies["crew"]=movies["crew"].apply(str2_list)
     

movies["cast"]

0       [Sam Worthington, Zoe Saldana, Sigourney Weave...
1       [Johnny Depp, Orlando Bloom, Keira Knightley, ...
2       [Daniel Craig, Christoph Waltz, Léa Seydoux, R...
3       [Christian Bale, Michael Caine, Gary Oldman, A...
4       [Taylor Kitsch, Lynn Collins, Samantha Morton,...
                              ...
4840    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4841    [Edward Burns, Kerry Bishé, Marsha Dietlein, C...
4842    [Eric Mabius, Kristin Booth, Crystal Lowe, Geo...
4843    [Daniel Henney, Eliza Coupe, Bill Paxton, Alan...
4844    [Drew Barrymore, Brian Herzlinger, Corey Feldm...
Name: cast, Length: 4845, dtype: object

In [62]:
movies["crew"]

0                                [James Cameron]
1                               [Gore Verbinski]
2                                   [Sam Mendes]
3                            [Christopher Nolan]
4                               [Andrew Stanton]
                          ...
4804                          [Robert Rodriguez]
4805                              [Edward Burns]
4806                               [Scott Smith]
4807                               [Daniel Hsia]
4808    [Brian Herzlinger, Jon Gunn, Brett Winn]
Name: crew, Length: 4809, dtype: object

In [63]:
movies["genres"]=movies['genres'].apply(str_list)
movies["keywords"]=movies['keywords'].apply(str_list)
     

# finding NA values 
     

movies.isna().sum()

budget                     0
genres                     0
homepage                3096
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
movie_id                   0
cast                       0
crew                       0
dtype: int64

In [64]:

movies.sample(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
2917,11000000,"[Adventure, Action, Science Fiction]",http://www.starwars.com/films/star-wars-episod...,11,"[android, galaxy, hermit, death star, lightsab...",en,Star Wars,Princess Leia is captured and held hostage by ...,126.393695,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...",...,121.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"A long time ago in a galaxy far, far away...",Star Wars,8.1,6624,11,"[Mark Hamill, Harrison Ford, Carrie Fisher, Pe...",[George Lucas]
4505,0,"[Action, Adventure, Drama]",NaN,26916,[suspense],en,Mercy Streets,"Estranged twin brothers - one a con man, the o...",0.099902,[],...,106.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Mercy Streets,5.5,2,26916,"[Eric Roberts, David A.R. White, Cynthia Watro...",[Jon Gunn]
1488,30000000,"[Horror, Action, Thriller, Science Fiction]",http://www.darkesthourmovie.com/,71469,"[alien invasion, american abroad, moscow, unli...",en,The Darkest Hour,"In Moscow, five young people lead the charge a...",23.328823,"[{""name"": ""Summit Entertainment"", ""id"": 491}, ...",...,89.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Survive The Holidays,The Darkest Hour,4.8,469,71469,"[Emile Hirsch, Rachael Taylor, Olivia Thirlby,...",[Chris Gorak]
471,85000000,"[Comedy, Fantasy, Romance]",NaN,9678,"[father son relationship, brother sister relat...",en,Little Nicky,After the lord of darkness decides he will not...,18.335992,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,He's Never Been To Earth. He's Never Even Slep...,Little Nicky,5.2,438,9678,"[Adam Sandler, Patricia Arquette, Harvey Keite...",[Steven Brill]
3981,2900000,[Drama],NaN,666,"[brazilian, brazil, rio de janeiro, letter, wi...",pt,Central do Brasil,"An emotive journey of a former school teacher,...",5.928937,"[{""name"": ""MACT Productions"", ""id"": 393}, {""na...",...,113.0,"[{""iso_639_1"": ""pt"", ""name"": ""Portugu\u00eas""}]",Released,He was looking for the father he never knew. S...,Central Station,7.6,126,666,"[Fernanda Montenegro, Marília Pêra, Vinícius d...",[Walter Salles]

In [65]:
def _join(x):
  l=[]
  for i in x:
    l.append(i.replace(" ",""))
  return l
     

movies["cast"]=movies["cast"].apply(_join)


     

movies["cast"]=movies["cast"].apply(lambda i:i[0:3])
     

movies["cast"]

0        [SamWorthington, ZoeSaldana, SigourneyWeaver]
1           [JohnnyDepp, OrlandoBloom, KeiraKnightley]
2            [DanielCraig, ChristophWaltz, LéaSeydoux]
3            [ChristianBale, MichaelCaine, GaryOldman]
4          [TaylorKitsch, LynnCollins, SamanthaMorton]
                             ...
4804    [CarlosGallardo, JaimedeHoyos, PeterMarquardt]
4805         [EdwardBurns, KerryBishé, MarshaDietlein]
4806           [EricMabius, KristinBooth, CrystalLowe]
4807            [DanielHenney, ElizaCoupe, BillPaxton]
4808    [DrewBarrymore, BrianHerzlinger, CoreyFeldman]
Name: cast, Length: 4809, dtype: object

In [66]:
new_df=pd.DataFrame(movies,columns=['id','homepage','title','cast','crew','overview','genres','keywords'])
     

new_df.head(5)

,id,homepage,title,cast,crew,overview,genres,keywords
0,19995,http://www.avatarmovie.com/,Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[James Cameron],"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."
1,285,http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[Gore Verbinski],"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,206647,http://www.sonypictures.com/movies/spectre/,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[Sam Mendes],A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."
3,49026,http://www.thedarkknightrises.com/,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[Christopher Nolan],Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i..."
4,49529,http://movies.disney.com/john-carter,John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[Andrew Stanton],"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel..."

In [67]:
new_df['crew']=new_df['crew'].apply(_join)
     

new_df.head()

,id,homepage,title,cast,crew,overview,genres,keywords
0,19995,http://www.avatarmovie.com/,Avatar,"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."
1,285,http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,206647,http://www.sonypictures.com/movies/spectre/,Spectre,"[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."
3,49026,http://www.thedarkknightrises.com/,The Dark Knight Rises,"[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i..."
4,49529,http://movies.disney.com/john-carter,John Carter,"[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel..."

In [68]:
new_df.isna().sum()

id             0
homepage    3096
title          0
cast           0
crew           0
overview       3
genres         0
keywords       0
dtype: int64

In [69]:
new_df["homepage"]=new_df["homepage"].fillna(0)
     

url=list(enumerate(new_df["homepage"]))
new_df["urls"]=0
for i in range(len(url)):
  if new_df["homepage"][i]==0:
    
    x=("{}/{}".format("https://www.",str("".join(list(new_df["title"][url[i][0]].split())))))

    new_df["urls"][i]=x
  else:
    new_df["urls"][i]=new_df["homepage"][i]

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3064\2670768861.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["urls"][i]=new_df["homepage"][i]

In [70]:
new_df["urls"]

0                             http://www.avatarmovie.com/
1            http://disney.go.com/disneypictures/pirates/
2             http://www.sonypictures.com/movies/spectre/
3                      http://www.thedarkknightrises.com/
4                    http://movies.disney.com/john-carter
                              ...
4804                              https://www./ElMariachi
4805                               https://www./Newlyweds
4806    http://www.hallmarkchannel.com/signedsealeddel...
4807                          http://shanghaicalling.com/
4808                          https://www./MyDatewithDrew
Name: urls, Length: 4809, dtype: object

In [71]:
new_df.sample(5)

,id,homepage,title,cast,crew,overview,genres,keywords,urls
182,102899,http://marvel.com/movies/movie/180/ant-man,Ant-Man,"[PaulRudd, MichaelDouglas, EvangelineLilly]",[PeytonReed],Armed with the astonishing ability to shrink i...,"[Science Fiction, Action, Adventure]","[marvel comic, superhero, based on comic book,...",http://marvel.com/movies/movie/180/ant-man
308,257088,https://www.facebook.com/PointBreakMovie,Point Break,"[EdgarRamírez, LukeBracey, TeresaPalmer]",[EricsonCore],A young undercover FBI agent infiltrates a gan...,"[Action, Crime, Thriller]","[undercover, undercover agent, extreme sports,...",https://www.facebook.com/PointBreakMovie
3048,14120,http://www.endofthespear.com/,End of the Spear,"[LouieLeonardo, ChadAllen, JackGuzman]",[JimHanon],"""End of the Spear"" is the story of Mincayani, ...","[Adventure, Drama]",[drama],http://www.endofthespear.com/
4230,9464,0,Buffalo '66,"[VincentGallo, ChristinaRicci, BenGazzara]",[VincentGallo],Billy is released after five years in prison. ...,"[Romance, Comedy, Crime, Drama]","[prison, gambling, compulsive gambling]",https://www./Buffalo'66
2147,10139,http://focusfeatures.com/film/milk/,Milk,"[SeanPenn, EmileHirsch, JamesFranco]",[GusVanSant],The story of California's first openly gay ele...,"[History, Drama]","[gay, san francisco, homophobia, mayor, biogra...",http://focusfeatures.com/film/milk/

In [72]:
def spliting(text):
  text=str(text).split()
  return text

In [73]:
new_df['overview']=new_df['overview'].apply(spliting)

In [74]:
new_df['all_tags']=new_df['overview'] + new_df['genres'] + new_df['keywords'] + new_df['cast'] + new_df['crew']

In [75]:
new_df.drop(columns=['overview','genres' ,'keywords','cast' , 'crew','homepage'],inplace=True)

In [76]:
new_df.head()

,id,title,urls,all_tags
0,19995,Avatar,http://www.avatarmovie.com/,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,http://www.sonypictures.com/movies/spectre/,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,http://www.thedarkknightrises.com/,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,http://movies.disney.com/john-carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [77]:
def convert_lower(text):
  l=[]
  for item in text:
    l.append(item.lower())
  return l

In [78]:
new_df['all_tags']=new_df['all_tags'].apply(convert_lower)

In [79]:
new_df.head()

,id,title,urls,all_tags
0,19995,Avatar,http://www.avatarmovie.com/,"[in, the, 22nd, century,, a, paraplegic, marin..."
1,285,Pirates of the Caribbean: At World's End,http://disney.go.com/disneypictures/pirates/,"[captain, barbossa,, long, believed, to, be, d..."
2,206647,Spectre,http://www.sonypictures.com/movies/spectre/,"[a, cryptic, message, from, bond’s, past, send..."
3,49026,The Dark Knight Rises,http://www.thedarkknightrises.com/,"[following, the, death, of, district, attorney..."
4,49529,John Carter,http://movies.disney.com/john-carter,"[john, carter, is, a, war-weary,, former, mili..."

In [80]:
pip install nltk

Requirement already satisfied: nltk in c:\users\lenovo\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: joblib in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: colorama in c:\users\lenovo\anaconda3\lib\site-packages (from click->nltk) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

In [81]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
def steming(text):
  l=[]
  for i in text:

    l.append(ps.stem(i))
  return l

In [82]:
new_df['all_tags']=new_df['all_tags'].apply(steming)

In [83]:
new_df.sample(5)

,id,title,urls,all_tags
4023,401,Garden State,http://www2.foxsearchlight.com/gardenstate/,"[andrew, return, to, hi, hometown, for, the, f..."
4735,272726,Dude Where's My Dog?,https://www./DudeWhere'sMyDog?,"[left, home, alon, with, hi, dog, harry,, youn..."
1747,13495,Alatriste,https://www./Alatriste,"[in, 17th, centuri, spain, diego, alatriste,, ..."
1589,172,Star Trek V: The Final Frontier,https://www./StarTrekV:TheFinalFrontier,"[capt., kirk, and, hi, crew, must, deal, with,..."
1800,15028,Clockstoppers,https://www./Clockstoppers,"[until, now,, zak, gibbs', greatest, challeng,..."

In [ ]:
new_df["all_tags"]=new_df["all_tags"].apply(_join)
     

new_df['all_tags'] = new_df['all_tags'].apply(lambda x: " ".join(x))

In [100]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words='english')
     

data = cv.fit_transform(new_df['all_tags']).toarray()
data

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [103]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(data)
similarity

array([[1.        , 0.06776309, 0.06862635, ..., 0.03571429, 0.        ,
        0.        ],
       [0.06776309, 1.        , 0.05063697, ..., 0.01976424, 0.        ,
        0.0209427 ],
       [0.06862635, 0.05063697, 1.        , ..., 0.02001602, 0.        ,
        0.        ],
       ...,
       [0.03571429, 0.01976424, 0.02001602, ..., 1.        , 0.03311331,
        0.03311331],
       [0.        , 0.        , 0.        , ..., 0.03311331, 1.        ,
        0.07017544],
       [0.        , 0.0209427 , 0.        , ..., 0.03311331, 0.07017544,
        1.        ]])

In [102]:
def movie_recommend(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:8]:

      
      print("{} {}".format(new_df.iloc[i[0]].title,new_df.iloc[i[0]].urls))

In [104]:
movie_recommend("Avatar")

Aliens https://www./Aliens
Aliens vs Predator: Requiem http://www.avp-r.com/
Titan A.E. https://www./TitanA.E.
Independence Day https://www./IndependenceDay
Battle: Los Angeles http://www.battlela.com
Predators https://www./Predators
Meet Dave http://www.meetdavemovie.com/

In [105]:
movie_recommend("Batman")

Batman https://www./Batman
Batman & Robin https://www./Batman&Robin
The R.M. http://www.halestormentertainment.com/p_movies_details.asp?mID=jnlppmp8
Batman Begins http://www2.warnerbros.com/batmanbegins/index.html
Batman Returns https://www./BatmanReturns
The Dark Knight http://thedarkknight.warnerbros.com/dvdsite/
The Dark Knight Rises http://www.thedarkknightrises.com/